body {
  background-color: #d6f0ff; /* xanh pastel nhạt */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

    /*Thêm animation chuyen dong tu xuong len */
  animation: slideUp 0.6s ease-out;
}
/* Keyframes cho chuyen dong tu duoi len */
@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% 
  {
    transform: translateX(0);
    opacity:1 ;
  }
}



input,
button {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #7aa7e9; /* viền xanh pastel */
  margin-top: 10px;
  width: 130px;
}

button {
  background-color: #7aa7e9; /* xanh pastel */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4a90e2; /* xanh đậm khi hover */
}
